@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-blue {
      @apply bg-blue-700 hover:bg-blue-500 py-2 px-4 text-base text-white rounded border border-blue-600 focus:outline-none focus:border-black;
    },
    .insrt-data {
        @apply w-full p-2 text-base border rounded-md outline-none text-sm transition duration-150 ease-in-out mb-4;
    }
    .community-li {
        @apply block
        px-4
        py-2
        mt-1
        text-sm
        font-semibold
        text-gray-900
        bg-gray-100
        rounded-sm
        /* dark-mode:bg-transparent
        dark-mode:hover:bg-gray-700
        dark-mode:focus:bg-gray-600
        dark-mode:focus:text-white
        dark-mode:hover:text-white
        dark-mode:text-gray-200 */
        hover:text-gray-900
        focus:text-gray-900
        hover:bg-gray-200
        focus:bg-gray-200
        focus:outline-none;
        /* focus:shadow-outline; */
    }
    .post-container {
        @apply 
        flex 
        flex-col 
        justify-between 
        w-full md:w-9/12
        text-gray-700 
        bg-white 
        /* dark-mode:text-gray-200 
        dark-mode:bg-gray-800  */
        flex-shrink-0 
        border-solid 
        border-4 
        border-red-200 
        ml-2;
    }
    .side-bar {
        @apply flex
        flex-col
        w-full
        md:w-64
        text-gray-700
        bg-white
        /* dark-mode:text-gray-200
        dark-mode:bg-gray-800 */
        flex-shrink-0
        border-solid
        border-4
        border-green-200;
    }
    .sb-title {
        @apply text-base
        font-semibold
        tracking-widest
        text-gray-900
        uppercase
        rounded-lg
        /* dark-mode:text-white */
        focus:outline-none;
        /* focus:shadow-outline; */
    }
    .sb-container {
        @apply flex-shrink-0
        px-8
        py-4
        flex
        flex-row
        items-center
        justify-center;
    }
    .main-page-container {
        @apply md:flex flex-col md:flex-row md:h-screen md:min-h-full md:min-w-full pl-5 pt-3 mb-8 ;
    }
    .community-navbar {
        @apply bg-gray-700
        relative
        flex
        flex-wrap
        items-center
        justify-between
        px-2
        py-3;
    }
    .c-navbar-container {
        @apply container
        px-4
        mx-auto
        flex
        flex-wrap
        items-center
        justify-between;
    }
    .community-menu-item {
        @apply  px-3
        py-2
        flex
        items-center
        text-xs
        font-bold
        leading-snug
        hover:opacity-80
        text-white;
    }
    .community-title {
        @apply text-base
        font-bold
        leading-relaxed
        inline-block
        mr-4
        py-2
        whitespace-nowrap
        text-white;
    }

    .menu-item-container {
        @apply flex
        flex-col
        lg:flex-row
        list-none
        lg:ml-auto;
    }

    .join-leave {
        @apply px-3
        py-2
        flex
        items-center
        text-xs
        font-bold
        leading-snug
        hover:opacity-80
        text-white;
    }

    .wrapper{
        @apply overflow-hidden
        w-28
        h-8;
    }

    .joined, .leave {
        @apply items-center;
    }

    .joined:hover{
        @apply -mt-10;
    }

    .joined-btn{
        @apply bg-gray-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full inline-flex;
    }

    .leave {
        @apply mt-2;
    }

    .leave-btn {
        @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full inline-flex;
    }

    .join-btn {
        @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full inline-flex;
    }

    .create-community-data {
        @apply text-base border rounded-md w-3/4 p-1 mb-4 transition duration-150 ease-in-out;
    }

    .btn-green {
        @apply bg-green-700 hover:bg-green-500 w-48 py-1 px-2 text-base text-white rounded border border-blue-600 focus:outline-none focus:border-black;
    }

    .search-bar-container {
        @apply flex-shrink-0
        py-4
        flex
        flex-row
        items-center
        justify-center
        text-sm
        sm:flex
        flex-col;
    }

    .search-bar {
        @apply text-base border rounded-md;
    }
  }

  /* w-full p-2 text-base border rounded-md outline-none text-sm transition duration-150 ease-in-out mb-4 */
